alembic
antiorm
bcrypt
blinker
click
colorama
db
Flask
Flask-Admin
Flask-Bcrypt
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
itsdangerous
Jinja2
Mako
MarkupSafe
packaging
SQLAlchemy
typing_extensions
Werkzeug
WTForms
gunicorn
