{% extends "base.html" %}
{% include 'navbar.html' %}

{% block title %}
About Us
{% endblock %}

{% block content %}

    <div class="container mt-5">
        <h2 class="text-primary">About Us</h2>
        <p>Welcome to our website!
            We strive to offer every individual customer the best possible PC experience from start to finish no matter what PC they have purchased from us</p>



        <h3 class="text-info">Our Team</h3>
        <ul class="list-unstyled">
            <li>G1orga - Developer </li>
            <li>xxxx xxxxx -- xxxxxxx</li>
        </ul>


        <h3 class="text-info">Who We Are</h3>
        <ul class="list-unstyled">
            <p>ORIGIN PC is a PC company that builds custom PCs for gamers, enthusiasts, and professionals.</p>
        </ul>


        <h3 class="text-info">Contact Us</h3>
        <p>If you have any questions or inquiries, feel free to contact us at <a href="mailto:info@example.com">info@example.com</a>.</p>

        <!-- Contact Us button -->
        <a href="contact" class="btn btn-primary">Contact Us</a>


    </div>
{% endblock %}

